<div ng-app='listen'>
  <div ng-controller='listenController'>
  <header>
    <nav>
    <center>
      <a class="waves-effect waves-light btn center" ui-sref='/home'>Home</a>
      <a class="waves-effect waves-light btn center" ng-click='clearPackets()'>Delete Log</a>
      <a class="waves-effect waves-light btn" ng-click='collectPackets()'>Update</a>
      <ul class="right hide-on-med-and-down">
        <li><input type='date'></li>
        <li><input type='date'></li>
      </ul>
    </center>
    </nav>

  </header>

  <div class ='row'>
  <div link ng-repeat='packet in packets track by $index'></div>
  </div>
  </div>
</div>