<div ng-app='listen'>
  <div ng-controller='listenController'>
  <header>
    <nav>
      <center>
        <a class="waves-effect waves-light btn" ui-sref='/home'>Home</a>
        <a class="waves-effect waves-light btn" ng-click='clearPackets()'>Delete Log</a>
        <a class="waves-effect waves-light btn" ng-click='collectPackets()'>Update</a>
      </center>
      <ul class="right hide-on-med-and-down">
        <li><a class="waves-effect waves-light btn">A button</a></li>
        <li><a class="waves-effect waves-light btn-large">A large button</a></li>
      </ul>
    </nav>

  </header>

  <div class ='row'>
  <div link ng-repeat='packet in packets track by $index'></div>
  </div>
  </div>
</div>